.em{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle;text-indent:100%;white-space: nowrap;overflow:hidden;}
.em-peka{background-image:url("peka.png")}
.em-abductor{background-image:url("abductor.png")}
.em-borg{background-image:url("borg.png")}
.em-feelsgood{background-image:url("feelsgood.png")}
.em-ai{background-image:url("ai.gif")}
.em-carp{background-image:url("carp.gif")}
.em-goliath{background-image:url("goliath.png")}
.em-peka1{background-image:url("peka1.png")}
.em-riplie{background-image:url("riplie.png")}
.em-aimalf{background-image:url("aimalf.gif")}
.em-chicken{background-image:url("chicken.png")}
.em-headrev{background-image:url("headrev.png")}
.em-peka2{background-image:url("peka2.png")}
.em-shadowling{background-image:url("shadowling.png")}
.em-alien{background-image:url("alien.png")}
.em-cleanbot{background-image:url("cleanbot.gif")}
.em-ian{background-image:url("ian.png")}
.em-pekabest{background-image:url("pekabest.gif")}
.em-slime{background-image:url("slime.gif")}
.em-assistant{background-image:url("assistant.png")}
.em-cow{background-image:url("cow.png")}
.em-itsok{background-image:url("itsok.png")}
.em-pekadeal{background-image:url("pekadeal.png")}
.em-syndicate{background-image:url("syndicate.png")}
.em-bad2{background-image:url("bad2.png")}
.em-cult{background-image:url("cult.png")}
.em-meteor{background-image:url("meteor.gif")}
.em-pekahide{background-image:url("pekahide.png")}
.em-syndie{background-image:url("syndie.png")}
.em-basilisk{background-image:url("basilisk.png")}
.em-deathsquad{background-image:url("deathsquad.png")}
.em-ninja{background-image:url("ninja.png")}
.em-pekahiding{background-image:url("pekahiding.png")}
.em-wizard{background-image:url("wizard.png")}
.em-bolon{background-image:url("bolon.png")}
.em-ert{background-image:url("ert.png")}
.em-nuke{background-image:url("nuke.gif")}
.em-pekahurt{background-image:url("pekahurt.png")}
.em-bolon2{background-image:url("bolon2.png")}
.em-facehugger{background-image:url("facehugger.png")}
.em-nukeops{background-image:url("nukeops.png")}
.em-pekapled{background-image:url("pekapled.png")}
.em-pekaholy{background-image:url("pekaholy.gif")}
.em-khleb{background-image:url("khleb.png")}
.em-kot{background-image:url("kot.png")}
.em-disgusting{background-image:url("disgusting.png")}
.em-pekaroll{background-image:url("pekaroll.gif")}
.em-doit{background-image:url("doit.png")}
.em-istorii{background-image:url("istorii.png")}
.em-itsnotok{background-image:url("itsnotok.png")}
.em-pekaholyplus{background-image:url("pekaholyplus.gif")}
.em-pekakaif{background-image:url("pekakaif.png")}
.em-pekazm{background-image:url("pekazm.png")}
.em-pepe{background-image:url("pepe.png")}
.em-tem{background-image:url("tem.gif")}
.em-trash{background-image:url("trash.png")}
.em-cakehat{background-image:url("cakehat.png")}
.em-gachidark{background-image:url("gachidark.png")}
.em-pepesad{background-image:url("pepesad.png")}
.em-hmm{background-image:url("hmm.png")}
.em-joypain{background-image:url("joypain.png")}
.em-joypainroll{background-image:url("joypainroll.gif")}
.em-kaka{background-image:url("kaka.gif")}
.em-think{background-image:url("think.gif")}
.em-shrug{background-image:url("shrug.png")}
.em-pepewhy{background-image:url("pepewhy.png")}
.em-pepewhat{background-image:url("pepewhat.gif")}
.em-pepesalut{background-image:url("pepesalut.png")}
.em-pepemanok{background-image:url("pepemanok.png")}
.em-pepejoy{background-image:url("pepejoy.png")}
.em-pepehmm{background-image:url("pepehmm.png")}
.em-pepedamn{background-image:url("pepedamn.png")}
.em-pepecry{background-image:url("pepecry.png")}
.em-pepecross{background-image:url("pepecross.png")}
.em-pepeamazing{background-image:url("pepeamazing.png")}
.em-pekarage{background-image:url("pekarage.png")}
.em-pekapepe{background-image:url("pekapepe.png")}
.em-pekaolt{background-image:url("pekaolt.png")}
.em-pekamrazish{background-image:url("pekamrazish.png")}
.em-pekamorcrate{background-image:url("pekamorcrate.png")}
.em-pekainsanededadvice{background-image:url("pekainsanededadvice.png")}
.em-pekagachi{background-image:url("pekagachi.png")}
.em-pekadoom{background-image:url("pekadoom.png")}
.em-pekabloody{background-image:url("pekabloody.png")}
.em-pekabaton{background-image:url("pekabaton.png")}
.em-ohmycat{background-image:url("ohmycat.png")}
.em-lul{background-image:url("lul.png")}
.em-honk{background-image:url("honk.png")}
.em-flash{background-image:url("flash.png")}
.em-duck{background-image:url("duck.png")}
.em-dpepe{background-image:url("dpepe.gif")}
.em-crash{background-image:url("crash.png")}
.em-cat{background-image:url("cat.png")}
.em-glul{background-image:url("glul.png")}
.em-happyman{background-image:url("happyman.png")}
.em-jerry{background-image:url("jerry.png")}
.em-kek{background-image:url("kek.png")}
.em-pekaanon{background-image:url("pekaanon.png")}
.em-pekahmm{background-image:url("pekahmm.png")}
.em-pekaragec{background-image:url("pekaragec.png")}
.em-pekarp{background-image:url("pekarp.png")}
.em-pekasmart{background-image:url("pekasmart.png")}
.em-pekaspace{background-image:url("pekaspace.png")}
.em-pekathink{background-image:url("pekathink.png")}
.em-pepecop{background-image:url("pepecop.png")}
.em-pepelove{background-image:url("pepelove.png")}
.em-peperage{background-image:url("peperage.png")}
.em-pepewow{background-image:url("pepewow.png")}
.em-pominki{background-image:url("pominki.png")}
.em-soqa{background-image:url("soqa.png")}
.em-thinkgun{background-image:url("thinkgun.png")}
.em-topbestever{background-image:url("topbestever.png")}
.em-at{background-image:url("at.png")}
.em-pepedetectiv{background-image:url("pepedetectiv.png")}
.em-pepefeelsup{background-image:url("pepefeelsup.png")}
.em-pepesur{background-image:url("pepesur.png")}
.em-peporage{background-image:url("peporage.png")}

